body {
    background-color: orangered;
    margin: 0;

}
.jumbotron {
    background-image: url("../img/mexican-header.jpeg");
    background-size: contain;
    height: 9em;
    margin: 3em 0;
    padding: 0;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
}
.display-4 {
    font-family: Cochin;
}
.container {
    margin: 0;
    padding: 0;
    justify-content: center;
}
.btn {
    color: white;
}

.jumbotron1{
    background-image: url("../img/breakfast-tacos.jpeg");
    background-size: cover;
    align-items: center;
    padding: 1em;
    margin: 1em;
}

.jumbos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jumbotron2{
    background-image: url("../img/menudo.jpeg");
    background-size: cover;
    align-items: center;
    padding: 1em;
    margin: 1em;
}

.jumbotron3{
    background-image: url("../img/parillada.jpeg");
    background-size: cover;
    align-items: center;
    padding: 1em;
    margin: 1em;
}
.display-4 {
    color: white;
    text-shadow: 2px 2px #000000;
}

.lead {
    color: white;
    text-shadow: 2px 2px #000000;
}
